
h2{
    background: #5599DD;
    color: #DDDDDD;
    padding-top: 5px;
    padding-left: 10px;
}
.exp{
    text-indent: 50px;
}
#email{
    text-decoration: underline;
    font-style: italic;
}
body{
    font-family: Ubuntu, Helvetica;
    width: 940px;
    margin: 0  auto;
}
#cabecalho{
    text-align: center;
}

