body{
    background-color: #F5F0DC;
    font-family: Helvetica, Arial, sans-serif;
    width: 940px;
    margin: auto;
}

h2{
    padding: 5px;
    color: #FFFFFF;
    background: -webkit-linear-gradient(top, #9C8F67, #C7BE9B);
    border-radius:15px;
    border: 1px solid black;
}

figure{
    background-color:white;
    width:400px;
    text-align:center;
    padding:15px;
    font-family:'Comic Sans MS',cursive;
    border:1px solid black;
    box-shadow:5px 5px 3px rgba(0,0,0,0.7);
    transform:rotate(-5deg);
}

figure:hover{
    transform:rotate(5deg);
}

#tb-nutrientes{
    border: 1px solid black;
    width: 40%;
    margin: auto;
}

#tb-nutrientes th{
    background-color: #F8EA6B;
}

#tb-nutrientes tr:nth-child(odd){
    background-color: #FFFFFF;
}

#tb-nutrientes tr:nth-child(even){
    background-color: #F8EAB3;
}

nav ul li{
    display: inline;
    margin-right: 50px;
}

section{
    text-align: center;
}